.headerContainer {
    height: 620px;
    position:relative;
    background-color: #FBD062;
}

.headerContainer:before {
    height: 150px;
    content:' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
}
